[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.6"
django-cors-headers = "*"
djangorestframework = "*"
pillow = "*"
braintree = "*"
django-environ = "*"

[dev-packages]
